<h1><span style="font-family: tahoma,arial,helvetica,sans-serif;">General Infos</span></h1>
<p><span style="font-family: tahoma,arial,helvetica,sans-serif;">Ski Resorts Webcams is now on BlackBerry World !
 It allows you to quickly access to your favourite webcam. Perfect if 
you want to check the live weather conditions of your favourite resort!</span></p>
<h1><span style="font-family: tahoma,arial,helvetica,sans-serif;">Legal</span></h1>
<p><span style="font-family: tahoma,arial,helvetica,sans-serif;">The
 application is an open-source project under the GNU GPL licence. You 
can access to the code, edit it, modify it.The data itself stays the 
entire property of the different resorts.</span></p>
<p><span style="font-family: tahoma,arial,helvetica,sans-serif;"><a href="https://bitbucket.org/ldauvergne/skiwebcamsbb10">Source</a><br /></span></p>
<h1><span style="font-family: tahoma,arial,helvetica,sans-serif;">Privacy</span></h1>
<p><span style="font-family: tahoma,arial,helvetica,sans-serif;">No private data is stored in this application. No commercial use of your browsing</span></p>
<h1><span style="font-family: tahoma,arial,helvetica,sans-serif;">Thanks</span></h1>
<p><span style="font-family: tahoma,arial,helvetica,sans-serif;">I would like to thank the website <a href="http://www.snoweye.com/">SnowEye</a> for their resorts database.</span></p>
<p><span style="font-family: tahoma,arial,helvetica,sans-serif;">I would also like <a href="http://forum.hardware.fr/hfr/gsmgpspda/autres-os-mobiles/projet-hfr10-blackberry-sujet_27709_1.htm">Amonchakai</a> from Hardware.fr forum and his HFR10 application from which I took some ideas code wise.</span></p>